# ------------------------------
# Projeto em linguagem Rust
# ------------------------------

target/


# ------------------------------
# Projeto Python
# (migrado para Rust devido a desempenho)
# ------------------------------

# imagem gerada pelo aplicativo
imagem_capturada.bmp


# Arquivos de artefatos gerados pelo PyInstaler
build/
dist/
python_opencv.spec

